body{
    background-color: #161d26;
    color: white;
    margin: 0;
    padding: 0;
}

.div1{
    height: 40px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    position: sticky;
    background-color: #161d26;
    top: 0;

}
.awsimg{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 4px;
    height: 35px; 
    width: 35px;
    filter: brightness(0) invert(1);
    cursor: pointer;
}

.dotbox{
    border-left: 1px solid white;
    height: 25px;
    margin-top: 8px;
}


.boxsvg{
    filter: brightness(0) invert(1);
    margin-left: 15px;
    margin-top: 5px;
    cursor: pointer;
}

.boxsvg:hover{
    filter: brightness(0) saturate(100%) invert(18%) sepia(94%) saturate(7487%) hue-rotate(209deg) brightness(93%) contrast(88%);
}



.searchinput{
    width: 35rem;
    height: 28px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    margin-top: 6px;
    border-radius: 7px;
    margin-left: 15px;
    font-size: 15px;
    background-color: #161d26;
    padding-left: 10px;
    color: white;
}

.searchinput::placeholder{
    font-style: italic;
}

.rightside{
    width: 15rem;
    display: flex;
    margin-left: 27rem;
    
}

.shellicon,.notificationicon,.helpicon,.settingicon{
    height: 17px;
    width: 17px;
    filter: brightness(0) invert(1);
    margin-top: 4px;
    margin-left: 11px;
    cursor: pointer;
}
.shellicon:hover,.notificationicon:hover,.helpicon:hover,.settingicon:hover{
    filter: brightness(0) saturate(100%) invert(18%) sepia(94%) saturate(7487%) hue-rotate(209deg) brightness(93%) contrast(88%);

}

.shell,.notification,.help,.setting{
    margin-left: 7px;
    width: 3rem;
    border-right: 1px solid rgba(255, 255, 255, 0.7);
    height: 25px;
    margin-top: 8px;
    
}

.regiondiv{
    background-color: #161d26;
    border-right:1px solid rgba(255, 255, 255, 0.7) ;
    height: 25px;
    margin-top: 8px;
}

.region{
    background-color: #161d26;
    color: white;
    margin-top: 0px;
    font: bold;
    height: 1.5rem;
    margin-right: 12px;
    border: none;
    opacity: .9;
    cursor: pointer;

}
.region:hover{
    color: rgb(107, 107, 255);
}

.account{
    background-color: #161d26;
    height: 25px;
    margin-top: 8px;
    margin-left: 10px;
}

.acc{
    background-color: #161d26;
    color: white;
    margin-top: 0px;
    height: 1.5rem;
    border: none;
    opacity: .9;
    cursor: pointer;
}
.acc:hover{
    color: rgb(107, 107, 255);
}


.div2{
    height: 40px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    position: sticky;
    background-color: #161d26;
    top: 0;
    justify-content: space-between;

}

.trilineicon{
    filter: brightness(0) invert(1);
    height: 13px;
    width: 20px;
    margin-left: 5px;
    margin-top: 8px;
}


.triline{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.triline:hover{
    cursor: pointer;
    border-radius: 50%;
    background-color: #1d2530;
}

.iicon{
    filter: brightness(0) invert(1);
    height: 20px;
    width: 20px;
    margin-left: 5px;
    margin-right: 14px;
    border-radius: 50%;
    cursor: pointer;

    
}

.iicon:hover{
    box-shadow: 0 0 2px white;
}
.queicon{
    filter: brightness(0) invert(1);
    height: 20px;
    width: 20px;
    margin-left: 10px;
    margin-top: 8px;
    border-radius: 50%;
    cursor: pointer;
}

.queicon:hover{
    box-shadow: 0 0 2px white;
}
.right2nd{
    display: flex;
    margin-right: 25px;
}

.i{
    border-right:1px solid rgba(255, 255, 255, 0.5) ;
    height: 25px;
    margin-top: 8px;
}

.bodyhead{
    width: 80rem;
    height: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.consolehead{
    font-size: 28px;
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 15px;
    font: bold;
    text-decoration:  solid white;
    text-shadow: 1px 1px 1px white;
}

.consoleinfo{
    font-size: 13px;
    color: #42b4ff;
    text-decoration: none;
    text-shadow: 0 0 0 #42b4ff;
}

.consoleinfo:hover{
    cursor: pointer;
    color: blue;
    text-shadow: 0 0 0 blue;
}

.right3{
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.reset{
    width: 12rem;
    height: fit-content;
    border: 2px solid #42b4ff;
    color: #42b4ff;
    border-radius: 20px;
    padding: 6px;
    margin-top: 12px;
    text-align: center;
    -webkit-text-stroke: 0.5px #42b4ff;
}
.reset:hover{
    border: 2px solid #7fccff;
    color: #7fccff;
    cursor: pointer;
    -webkit-text-stroke: 0.5px #7fccff;
}

.widgets{
    background-color: #ff9900;
    height: fit-content;
    margin-left: 10px;
    width: 9rem;
    color: black;
    margin-top: 12px;
    text-align: center;
    border-radius: 20px;
    -webkit-text-stroke: 0.5px black;
    padding: 6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.widgets:hover{
    cursor: pointer;
    opacity: 0.8;
}
