body {
    background-color: #161d26;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.div1 {
    height: 40px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    display: flex;
    position: sticky;
    background-color: #161d26;
    top: 0;

}

.awsimg {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 4px;
    height: 35px;
    width: 35px;
    filter: brightness(0) invert(1);
    cursor: pointer;
}

.dotbox {
    border-left: 1px solid white;
    height: 25px;
    margin-top: 8px;
}


.boxsvg {
    filter: brightness(0) invert(1);
    margin-left: 15px;
    margin-top: 5px;
    cursor: pointer;
}

.boxsvg:hover {
    filter: brightness(0) saturate(100%) invert(18%) sepia(94%) saturate(7487%) hue-rotate(209deg) brightness(93%) contrast(88%);
}



.consolesearch {
    width: 35rem;
    height: 28px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    margin-top: 6px;
    border-radius: 7px;
    margin-left: 15px;
    font-size: 15px;
    background-color: #161d26;
    padding-left: 10px;
    color: white;
}

.consolesearch::placeholder {
    font-style: italic;
}

.rightside {
    width: 15rem;
    display: flex;
    margin-left: 27rem;

}

.shellicon,
.notificationicon,
.helpicon,
.settingicon {
    height: 17px;
    width: 17px;
    filter: brightness(0) invert(1);
    margin-top: 4px;
    margin-left: 11px;
    cursor: pointer;
}

.shellicon:hover,
.notificationicon:hover,
.helpicon:hover,
.settingicon:hover {
    filter: brightness(0) saturate(100%) invert(18%) sepia(94%) saturate(7487%) hue-rotate(209deg) brightness(93%) contrast(88%);

}

.shell,
.notification,
.help,
.setting {
    margin-left: 7px;
    width: 3rem;
    border-right: 1px solid rgba(255, 255, 255, 0.7);
    height: 25px;
    margin-top: 8px;

}

.regiondiv {
    background-color: #161d26;
    border-right: 1px solid rgba(255, 255, 255, 0.7);
    height: 25px;
    margin-top: 8px;
}

.region {
    background-color: #161d26;
    color: white;
    margin-top: 0px;
    font: bold;
    height: 1.5rem;
    margin-right: 12px;
    border: none;
    opacity: .9;
    cursor: pointer;

}

.region:hover {
    color: rgb(107, 107, 255);
}

.account {
    background-color: #161d26;
    height: 25px;
    margin-top: 8px;
    margin-left: 10px;
}

.acc {
    background-color: #161d26;
    color: white;
    margin-top: 0px;
    height: 1.5rem;
    border: none;
    opacity: .9;
    cursor: pointer;
}

.acc:hover {
    color: rgb(107, 107, 255);
}


.div2 {
    height: 40px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    display: flex;
    position: sticky;
    background-color: #161d26;
    top: 0;
    justify-content: space-between;

}

.trilineicon {
    filter: brightness(0) invert(1);
    height: 13px;
    width: 20px;
    margin-left: 5px;
    margin-top: 8px;
}


.triline {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.triline:hover {
    cursor: pointer;
    border-radius: 50%;
    background-color: #1d2530;
}

.iicon {
    filter: brightness(0) invert(1);
    height: 20px;
    width: 20px;
    margin-left: 5px;
    margin-right: 14px;
    border-radius: 50%;
    cursor: pointer;


}

.iicon:hover {
    box-shadow: 0 0 2px white;
}

.queicon {
    filter: brightness(0) invert(1);
    height: 20px;
    width: 20px;
    margin-left: 10px;
    margin-top: 8px;
    border-radius: 50%;
    cursor: pointer;
}

.queicon:hover {
    box-shadow: 0 0 2px white;
}

.right2nd {
    display: flex;
    margin-right: 25px;
}

.i {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    height: 25px;
    margin-top: 8px;
}

.bodyhead {
    width: 80rem;
    height: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.consolehead {
    font-size: 28px;
    margin-top: 15px;
    font: bold;
    text-decoration: solid white;
    text-shadow: 1px 1px 1px white;
}

.consoleinfo {
    font-size: 13px;
    color: #42b4ff;
    text-decoration: none;
    text-shadow: 0 0 0 #42b4ff;
}

.consoleinfo:hover {
    cursor: pointer;
    color: blue;
    text-shadow: 0 0 0 blue;
}

.right3 {
    display: flex;
}

.bluediv {
    width: fit-content;
    height: fit-content;
    border: 2px solid #42b4ff;
    color: #42b4ff;
    border-radius: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 21px;
    padding-right: 21px;
    margin-top: 12px;
    text-align: center;
}

.bluediv:hover {
    border: 2px solid #7fccff;
    color: #7fccff;
    cursor: pointer;
}

.widgets {
    background-color: #ff9900;
    height: fit-content;
    margin-left: 10px;
    width: 9rem;
    color: black;
    margin-top: 12px;
    text-align: center;
    border-radius: 20px;
    -webkit-text-stroke: 0.5px black;
    padding: 6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.widgets:hover {
    cursor: pointer;
    opacity: 0.8;
}

.bothpannel {
    width: 80rem;
    height: 29rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 2px;
    display: flex;
    justify-content: space-between;
}

.pannels {
    width: 38.2rem;
    height: 28.8rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 13px;
    resize: both;
    overflow: hidden;
    padding: 7px;
    min-width: 200px;
    min-height: 200px;
}

.pannels::-webkit-resizer {
    display: none;
}


.pannelhead {
    height: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.sixdot {
    height: 0.9rem;
    filter: brightness(0) invert(1);
    margin-top: 7px;
    margin-right: 9px;
    cursor: grab;
    margin-left: 7px;
}

.leftsidepannel {
    display: flex;
}

.pannelname {
    font-size: 20px;
    margin-top: 2px;
    font: bold;
    text-decoration: solid white;
    text-shadow: 0px 0px 0px white;
}


.pannelinfo {
    font-size: 13px;
    color: #42b4ff;
    text-decoration: none;
    text-shadow: 0 0 0 #42b4ff;
}

.pannelinfo:hover {
    cursor: pointer;
    color: blue;
    text-shadow: 0 0 0 blue;
}

.pannelright {
    display: flex;
}

.pannel-right-dots {
    height: 0.9rem;
    filter: brightness(0) invert(1);
    margin-top: 8px;
    margin-right: 14px;
    cursor: pointer;
    opacity: 0.8;

}

.pannel-right-dots:hover {
    opacity: 1;
}

.midbody {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.recentservice {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    width: 17rem;
    height: 2.5rem;
    padding-top: 4px;
    margin-left: 12px;
    display: flex;

}

.lastservice {
    border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.recent1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 80%;
}

.recent2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 80%;
    margin-right: 0;
    margin-left: 12px;
}

.recenticon {
    height: 60%;
    width: 2rem;
    margin-top: auto;
    margin-bottom: auto;
}

.recentactname {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 15px;
    color: #42b4ff;
    margin-left: 7px;
    transition: color 0.3 ease-in;
}

.recentactname:hover {
    cursor: pointer;
    color: #7fccff;
    text-decoration: underline;
}

.viewall {
    width: 100%;
    height: 1rem;
    margin-bottom: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    margin-top: 22px;
    display: flex;
}

.viewall1 {
    margin-top: 11px;
    color: #42b4ff;
    transition: color 0.7s ease, text-decoration 0.7s ease-in;
    margin-left: auto;
    margin-right: auto;

}

.viewall1:hover {
    cursor: pointer;
    color: #7fccff;
    text-decoration: underline;
}

.resizeicon {
    height: 17px;
    width: 17px;
    filter: brightness(0) invert(1);
    margin-top: 20px;
    cursor: se-resize;
    pointer-events: none;

}

.appnumber {
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.5;
}

.applicationinfo {
    margin-left: 10px;
}

.createapp {
    margin-top: 0;
    margin-right: 15px;
}

.pannel2region {
    opacity: 0.5;
    margin-left: 30px;
}

.pannel-2-midbody {
    flex-direction: column;
}

.pannel2regionselect {
    background-color: #161d26;
    border: none;
    color: white;
    opacity: 0.7;
    margin-top: 6px;
}

.current-region {
    border: 1px solid rgba(255, 255, 255, 0.7);
    width: fit-content;
    border-radius: 7px;
    height: 28px;
    padding-right: 8px;
    padding-left: 8px;
    margin-left: 14px;
}

.appsearch {
    width: 19rem;
    height: 28px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    margin-top: 6px;
    border-radius: 7px;
    margin-left: 15px;
    font-size: 15px;
    background-color: #161d26;
    padding-left: 10px;
    color: white;
    margin-right: 14px;
    margin-top: 0;
}

.appsearch::placeholder {
    font-style: italic;
}

.regionandfind {
    display: flex;
    justify-content: space-between;
}
.numberofapp{
    display: flex;
    width: fit-content;
    margin-right: 17px;
    margin-left: auto;
    margin-top: 15px;
}

.nexticon{
    height: 12px;
    filter: brightness(0) invert(1);
    margin-top: 3px;
    opacity: 0.5;

}

.numberofapplication{
    font-size: 14px;
    margin-left: 15px;
    margin-right: 15px;
    font: bold;
}

.appdetails{
    margin-left: 14px;
    margin-right: 14px;
    height: 15rem;
    border-radius: 13px;
    overflow-x: auto;
    flex-direction: column;


}



.inputdetail{
    display: flex;
    border-bottom:1px solid rgba(255, 255, 255, 0.25) ;
}

.detaildiv{
    width: fit-content;
    border-right:1px solid rgba(255, 255, 255, 1) ;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
}

.detailselect{
    border: none;
    background-color: #161d26;
    color: rgba(255, 255, 255, 0.7);
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
    margin-left: 10px;
    padding-right: 25px;
    font-size: 15px;
    
}

.nameselect{
    margin-left: 0;
    padding-right: 8rem;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.8);
    color: white;
}